<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Edit your Listing</h3>
        <br />

        <form
            method="post"
            action="/listings/<%= listing._id %>?_method=PUT"
            class="needs-validation"
            novalidate
            enctype="multipart/form-data"
        >
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input
                    id="title"
                    type="text"
                    name="listing[title]"
                    value="<%= listing.title %>"
                    class="form-control form-border"
                    required
                />
                <div class="invalid-feedback">Please enter a title!</div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                    type="text"
                    name="listing[description]"
                    class="form-control form-border"
                    id="description"
                    required
                >
<%= listing.description %></textarea
                >
                <div class="invalid-feedback">Please enter a description!</div>
            </div>

            <div class="mb-3">
                <p>Original Listing Image</p>
                <img class="edit-img" src="<%= imageUrl %>" alt="<%= listing.image.filename %>">
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input
                    type="file"
                    name="listing[image]"
                    id="image"
                    class="form-control form-border"
                />
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input
                    type="text"
                    name="listing[location]"
                    value="<%= listing.location %>"
                    id="location"
                    class="form-control form-border"
                    required
                />
                <div class="invalid-feedback">
                    Please enter correct location!
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span
                            class="input-group-text form-border"
                            id="basic-addon1"
                            >$</span
                        >
                        <input
                            type="number"
                            name="listing[price]"
                            value="<%= listing.price %>"
                            id="price"
                            class="form-control form-border"
                            required
                        />
                        <div class="invalid-feedback">Please enter price!</div>
                    </div>
                </div>

                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <select
                        id="country"
                        class="form-control form-border"
                        name="listing[country]"
                        >
                        <% for (let c of Countries.data) { %>
                            <option
                                value="<%= c.country %>"
                                <%= listing.country === c.country ? "selected" : "" %>
                                >
                                <%= c.country %>
                            </option>
                        <% } %>
                    </select>
                </div>
            </div>

            <button class="mb-3 mt-3 custom-btn">Edit</button>
        </form>
        <br />
    </div>
</div>
